<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLVB"
            sequence="0"
        />

        <menuitem name="Văn bản đi" 
            id="menu_document_outgoing" 
            parent="menu_root" 
            sequence="2"
            action="action_document_outgoing"
        />

        <menuitem name="Văn bản đến" 
            id="menu_document_incoming" 
            parent="menu_root" 
            sequence="3"
            action="action_document_incoming"
        />

        <menuitem name="Danh mục" 
            id="menu_document_category" 
            parent="menu_root" 
            sequence="1"
        />

        <!-- #region Danh mục -->
        <menuitem name="Cấp cơ quan" 
            id="menu_document_agency_level" 
            parent="menu_document_category" 
            sequence="1"
            action="action_document_agency_level"
        />

        <menuitem name="Cơ quan" 
            id="menu_document_external_agency" 
            parent="menu_document_category" 
            sequence="2"
            action="action_document_external_agency"
        />

        <menuitem name="Lĩnh vực" 
            id="menu_document_field" 
            parent="menu_document_category" 
            sequence="3"
            action="action_document_field"
        />

        <menuitem name="Đơn vị" 
            id="menu_document_internal_department" 
            parent="menu_document_category" 
            sequence="4"
            action="action_document_internal_department"
        />

        <menuitem name="Loại văn bản" 
            id="menu_document_type" 
            parent="menu_document_category" 
            sequence="9"
            action="action_document_type"
        />

        <menuitem name="Năm" 
            id="menu_document_year" 
            parent="menu_document_category" 
            sequence="10"
            action="action_document_year"
        />
        <!-- #endregion -->
    </data>
</odoo>
